*{
	margin: 0px;
}
body{
	background: url(../img/bg.png);
}
section{
	width: 80%;
	margin: 0px auto;
	padding-top: 30px;
}
a{
	text-decoration: none;
}
.cen{
	background: url(../img/cen.png) no-repeat left;
	background-size: contain;
	width: 45%;
	height: 100px;
	display: inline-block;
}
.min{
	background: url(../img/min.png) no-repeat right;
	background-size: contain;
	width: 45%;
	height: 100px;
	display: inline-block;
}
.bienvenido, .indicacion{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
	font-size: 3em;
	color: rgba(120, 49, 49, 1);
}
.indicacion{
	margin-top: -20px;
	color: #212121;
	font-size: 2em;

}
.contenedor{
	width: 100%;
	height: 100px;
	text-align: center;}
.botonClient, .botonMenu, .botonMedio{
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.26);
	width: 300px;
	height: 70px;
	padding: 25px 0px 0px 0px;
	background: -webkit-linear-gradient(#fff, #ddd);
	background: -moz-linear-gradient(#fff, #ddd);
	opacity: 0.5;
	margin: 20px 50px 20px 50px;
	border: 1px solid rgba(233, 28, 28, 1);;
	display: inline-block;
}
.texto-boton, .texto-boton-menu, .texto-boton-medio{
	width: 90%;
	margin: 0px auto;
	font-size: 1.5em;
	color: #212121;
}
.tabla{
	border: 1px dashed rgba(120, 49, 49, 1);;
	width: 90%;
	height: 300px;
	overflow: auto;
	padding: 10px;
}
.linea-tabla{
	padding: 10px 0px 10px 0px;
	width: 100%;
	border-bottom: 1px dashed rgba(120, 49, 49, 1);
}
.info-cita{
	font-size: 0.9em;
	display: inline-block;
	width: 70%;
	text-align: left;
	vertical-align: middle;
}
.opciones-boton{
	display: inline-block;
	width: 28%;
}
.botonMenu{
	margin: 0px auto;
	padding: 15px;
	width: 80%;
	height: 30px;
	cursor: pointer;
}
.texto-boton-menu{
	font-size: 1em;
}
.botonMedio{
	padding: 15px;
	width: 150px;
	height: 30px;
}
.texto-boton-medio{
	font-size: 1.1em;
}

footer{
	text-align: center;
	font-size: 1.5em;
	color: rgba(120, 49, 49, 1);
	position: fixed;
	bottom: 0px;
	width: 100%;
}
input{
	height: 50px;
	width: 50%;
	font-size: 32px;
	text-align: center;
}


/********************************/


.row{
	width: 100%;
	margin: 20px 0px 0px 0px;
	padding-bottom: 20px;
	border-bottom: 1px dashed rgba(120, 49, 49, 1);
	overflow: auto;
	max-height: 200%;
}
.item, .item1, .item2{
	display: inline-block;
	width: 90%;
	text-align: left;
	margin: 0px 0px 5px 0px;	
}
.item1{
	width: 70%;
}
.item2{
	width: 20%;
}

.item-b, .item1-b, .item2-b{
	display: inline-block;
	width: 90%;
	text-align: left;
	margin: 0px 0px 5px 0px;	
}
.item1-b{
	width: 70%;
}
.item2-b{
	width: 20%;
}


#ventana-buscar-servicio, #ventana-buscar-medico{
	position: absolute;;
	top: -120%;
	left: 10%;
	background: url(../img/bg.png);
	border: 10px solid rgba(120, 49, 49, 1);;
	border-radius: 20px;
	margin: 0px;
	height: 75%;
	text-align: center;
}

.card-medico{
	width: 30%;
	height: 200px;
	display: inline-block;
	background: #ddd;
	text-align: left;
	margin: 10px;
}

.dato-medico{
	width: 80%;
	margin: 0px auto;
		
}


